<script src="{{site.baseurl}}/assets/js/lunr.js"></script>
<script>
    function reset(){
        document.getElementById("graph").innerHTML = "";
        reorg();
    }

    function tree_search(str){
        var id ;
        
        get("{{ site.baseurl }}/assets/js/people.json").then(function(response) {
            var people = JSON.parse(response).persons;
            console.log(people.length);
            var person = people.find(identity => identity.name.toLowerCase().indexOf(str) > -1);
            console.log(person);
            id = person.id;  
            console.log(person.name);          
            document.getElementById("graph").innerHTML = "";
            reorg(id);
        }, function(error) {
		    console.error("Failed!", error);
		});
        
    }
</script>

<div class="wrap-search row align-items-center justify-content-center">
    <button onclick="reset()" class="btn btn-primary mx-4 rounded" type="button"><i class="fas fa-refresh"></i>Reset</button> 
    <div class="d-flex align-items-center ml-auto">        
        <i class="fas fa-search show-search"></i>
        <form class="bd-search ml-3" onSubmit="event.preventDefault(); return tree_search(document.getElementById('term').value);">
            <input type="text" class="form-control bigradius text-small launch-modal-search" id="term" name="q" maxlength="255" value="" placeholder="Type and enter..."/>
        </form>
    </div>
</div>

<div id="lunrsearchresults">
    <ul></ul>
</div>

<script src="{{site.baseurl}}/assets/js/lunrsearchengine.js"></script>